# Datos originales del Titanic
data/train.csv
data/test.csv
data/gender_submission.csv

# Archivos temporales de Jupyter
.ipynb_checkpoints/
__pycache__/
*.pyc

# Entornos virtuales
.env
venv/

# Archivos del sistema
.DS_Store
Thumbs.db